<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <label>
        URL :
        <input type="text" name="url">
    </label>
    <br>
    <label for="type">
        Type :
        <select name="excludeHtmlTag" id="type">
            <option value="true">HTML 태그 제외</option>
            <option value="false">Text 전체</option>
        </select>
    </label>
    <br>
    <label>
        출력묶음 단위 :
        <input type="text" name="divisorNumber">
    </label>
    <button type="submit">출력</button>
</form>
몫 :
<br>
나머지 :
</body>
</html>
