<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" th:object="${textParsingDto}" method="post">
    <label>
        URL :
        <input type="text" th:field="*{url}">
    </label>
    <br>
    <label for="type">
        Type :
        <select name="excludeHtmlTag" id="type">
            <option value="true">HTML 태그 제외</option>
            <option value="false">Text 전체</option>
        </select>
    </label>
    <br>
    <label>
        출력묶음 단위 :
        <input type="text" th:field="*{divisorNumber}">
    </label>
    <button type="submit">출력</button>
</form>
몫 :
<div style="word-break: break-all" th:if="${calcResponse!=null}" th:text="${calcResponse.quotientString}"></div>
<br>
나머지 :
<div style="word-break: break-all" th:if="${calcResponse!=null}" th:text="${calcResponse.remainderString}"></div>
</body>
</html>
